*{
margin:0;
box-sizing:border-box;
padding:0;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.navbar__clientelogueado{
    background-color: #2C2B2B!important;
}
.navbar__princi{
    background-color: #2C2B2B;
    display: flex;
    gap: 50%;
    padding-left: 10px;
}
.ul__princi{
    display: flex;  
    align-items: center;
    gap: 20px;
}
.btn__link{
    background-color: #FEC600;
    border: 0px;
    width: 100px;
    border-radius: 5px;

}
.btn__link:hover{
    cursor: pointer;
}
.main__cont{
    
    padding-bottom: 20px ;
}
.swiper__sect{
    background-color:rgba(255,238,216,0.3);
    padding: 30px 0px;
    
}
.swiper-container{
    height: 300px;
    
}
.swiper-slide{
    background-color: rgba(255,238,216,1);
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.redes_soci{
    display: flex;
    gap: 30px;
}
.email,.tele{
    margin-top: -15px;
}
.carta{
    padding: 5px;
}
.formu{
    height: 80vh;
    padding: 100px;
    margin-top: 5vh;
}
.btn__canceenviar{
    width: 200px;
}
.div__btn{
    gap: 100px;
}
.col__img{
    display: flex;
    align-items: center;
}
.img__form{
    width: 100%;
    height: 100%;
    padding-top: 15px;
   
}
.div__form{
    /* height: 88.3vh; */
    height: 88vh;
}
a{
    transition: 0.3s;
}
.btn:hover{
    background-color: #FEC600;
}
.footer{
    color: white;
    margin-bottom: -20px !important;
    background-color: rgba(255,238,216,0.3);
    margin-top: 15px;
}
.carta__pro{
    padding: 20px;
    background-color: rgba(255,238,216,0.3);
    border-radius: 9px;
}
.body__card{
    background-color: rgba(255,238,216, 1) !important;
}

::-webkit-scrollbar {
    display: none;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  @media (max-width:1444px) {
    .navbar__princi{  
        gap: 40%;
        
    }
}
@media (max-width:1286px) {
    .navbar__princi{  
        gap: 30%;
    }
}
@media (max-width:982px) {
    .col__img{
        display: none;
    }
    
    .div__form{
        /* height: 88.3vh; */
  
    }
    /* .formu{
        height: 20vh;
        padding: 50px;
        margin-top: 5vh;
    } */
   
   
}
@media (max-width: 767px) 
{
    .formu{
        padding: 10px; 
        height: auto;
    } 
}


